<div class="page-body">
  <app-card [title]="'ขนาดความแรง'" [classHeader]="true">
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group row">
          <div class="col-sm-8">
            <input type="text" class="form-control" [(ngModel)]="value" (change)="insert()" placeholder="เพิ่มข้อมูล">
            <code>กรอกข้อมูลในช่องด้านบน และกดปุ่ม Enter เพื่อเพิ่มข้อมูล</code>
          </div>
        </div>
      </div>
      <div class='col-12 col-sm-6'>
        <label class="dt-cust-search float-right">
          <div class="form-group">
            <input type='text' class="form-control input-sm m-l-10" placeholder='ค้นหา' (keyup)='updateFilter($event)' />
          </div>
        </label>
      </div>
    </div>
    <div class="card-block">
      <ngx-datatable #table class='data-table' [columnMode]="'force'" [scrollbarH]="true" [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="50" [limit]="10" [rows]='rowsFilter' [reorderable]="true">
        <ngx-datatable-column name="ขนาดความแรง">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <form class="form-material" action="javascript:">
              <input type="text" name="presentation" class="form-control" [(ngModel)]="row.presentation" (change)="update(row)">
            </form>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ลบข้อมูล" [maxWidth]="100">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <a href="javascript:;" class="crm-action-delete text-danger" (click)="delete(row)">
              <i class="fa fa-trash"></i>
            </a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </app-card>
</div>