<div class="card">
  <div class="md-tabs">
    <ngb-tabset>
      <ngb-tab title="ข้อบ่งใช้">
        <ng-template ngbTabContent>
          <div [@fadeInOutTranslate] class="m-t-15">
            <app-indications></app-indications>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="อาการไม่พึงประสงค์">
        <ng-template ngbTabContent>
          <div [@fadeInOutTranslate] class="m-t-15">
            <app-adverseReactions></app-adverseReactions>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="คำแนะนำ">
        <ng-template ngbTabContent>
          <div [@fadeInOutTranslate] class="m-t-15">
            <app-advice></app-advice>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="ข้อควรระวัง">
        <ng-template ngbTabContent>
          <div [@fadeInOutTranslate] class="m-t-15">
            <app-contraindications></app-contraindications>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="อันตรกิริยา">
        <ng-template ngbTabContent>
          <div [@fadeInOutTranslate] class="m-t-15">
            <app-interactions></app-interactions>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="คำเตือน">
        <ng-template ngbTabContent>
          <div [@fadeInOutTranslate] class="m-t-15">
            <app-warning></app-warning>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>