<div class="card">
    <div class="row">
        <div class="col-12 col-sm-2">
            <a [routerLink]="['/informations-medicines']">
                <img class="img-fluid img-radius" src="assets/images/pill.png" alt="round-img">
            </a>
            <h4>ข้อมูลยา</h4>
        </div>
        <div class="col-12 col-sm-2" style="text-align: center">
            <a [routerLink]="['/feature']">
                <img class="img-fluid img-radius" src="assets/images/pill.png" alt="round-img">
            </a>
            <h4>คุณลักษณะของยา</h4>
        </div>
        <div class="col-12 col-sm-2">
            <a [routerLink]="['/about']">
                <img class="img-fluid img-radius" src="assets/images/pill.png" alt="round-img">
            </a>
            <h4>คำชี้แจง</h4>
        </div>
        <div class="col-12 col-sm-2">
            <a [routerLink]="['/volume']">
                <img class="img-fluid img-radius" src="assets/images/pill.png" alt="round-img">
            </a>
            <h4>ปริมาณยา</h4>
        </div>
        <div class="col-12 col-sm-2">
            <a [routerLink]="['/volume']">
                <img class="img-fluid img-radius" src="assets/images/pill.png" alt="round-img">
            </a>
            <h4>ปริมาณยา</h4>
        </div>
    </div>
</div>