<div class="card">
  <div class="md-tabs">
    <ngb-tabset>
      <ngb-tab title="สีเม็ดยา">
        <ng-template ngbTabContent>
          <div [@fadeInOutTranslate] class="m-t-15">
            <app-color></app-color>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="รูปแบบ">
        <ng-template ngbTabContent>
          <div [@fadeInOutTranslate] class="m-t-15">
            <app-form></app-form>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Imprint">
        <ng-template ngbTabContent>
          <div [@fadeInOutTranslate] class="m-t-15">
            <app-imprint></app-imprint>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="รูปร่างเม็ดยา">
        <ng-template ngbTabContent>
          <div [@fadeInOutTranslate] class="m-t-15">
            <app-shape></app-shape>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>